body {
    margin: 0;
    background-color: #FFF8D6;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    box-shadow: 0px 6px 5px #f0f0f0;
    padding: 15px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    background-color: white;
}

/* preguntar por el shadow cuando desplaza */

.links {
    color: black;
    text-decoration: none;
}

.links2 {
    color: white;
    text-decoration: none;
}

.header_nav_list {
    width: 85%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;
}

.header_nav_list_item {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.header_nav_list_item-contacto {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #617A55;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
}

.header_nav_list_item-contacto:hover {
    background-color:  #779e64;
}

.header_nav_list_item-contacto:active {
    background-color: #779e64;
    outline: none;
    box-shadow: 0px 0px 3px 2px #617A55;
}

.presentation {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.presentation_container-name {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

.presentation_container-ada {
    font-weight: 900;
    font-size: 4em;
    color: #617A55;
    margin: 0;
}

.presentation_container-button {
    background-color: #617A55;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
}

.presentation_container-button:hover {
    background-color:  #779e64;
}

.presentation_container-button:active {
    background-color: #779e64;
    outline: none;
    box-shadow: 0px 0px 3px 2px #617A55;
}

.presentation_container-img {
    overflow: hidden;
    width: 550px;
    height: 550px;
    border: 1px solid #F7E1AE;
    border-radius: 50%;
    box-shadow: 0px 0px 30px pink;
}

.presentation_container-img img {
    width: 100%;
    height: 100%;
}

.mySkills{
    padding-top: 100px;
}

.skills-tittle {
    text-align: center;
    font-weight: 900;
    font-size: 3em;

}

.skills-text {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 60px auto 0;
    gap: 20px;
}

.skills_card {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid #b4b4b470;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.skills_card:hover {
    border: 1px solid  #617A55;
}

.skills_card-icon {
    font-size: 4.5em;
    color: #44533c;
}

.quote {
    margin-top: 20px;
    background-color: #617A55;
    padding: 150px;

}

.quote_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: white;

}

.quote_icon {
    font-size: 6em;

}

.quote_text {
    font-size: 1.3em;
    text-align: center;
    margin: 50px;
}

.quote_author {
    font-weight: 800;
    font-size: 2em;
}

.myProjects{
    padding-top: 100px;
}

.projects-tittle {
    text-align: center;
    font-weight: 900;
    font-size: 3em;

}

.projects-text {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 60px auto 0;
    gap: 20px;
}

.projects_card {
    width: 330px;
    height: 330px;
    background-color: white;
    border: 1px solid #b4b4b470;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.projects_card:hover {
    border: 1px solid  #617A55;
}

.projects_card-image {
    width: 200px;
    height: 200px;

}

/* .special_image {
    width: 100px;
    height: 100px;
} */

.contacto{
    padding-top: 100px;
}

.Form {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 50px;
    border: 1px solid #b4b4b470;
    border-radius: 10px;

}

.contact-tittle {
    font-weight: 900;
    font-size: 3em;
    margin-top: 0;
}

.contact {
    flex: 50%;
}

.contact-text {
    width: 80%;
}

.contact_list {
    list-style: none;
    padding-left: 5px;
}

.contact_list_item-icon {
    font-size: 1.2em;
    margin-right: 10px;
    padding: 10px;
}

.contact_list-item {
    padding: 15px;
}

.contact_list-links{
    text-decoration: none;
    color: black;
}

.contact_list-links:hover{
    color: #617A55
}

.contact_list-links:hover .contact_list_item-icon{
    color: white;
    background-color: #617A55;
    border-radius: 50%;
}

.form2 {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
}


.form2-tittle {
    font-weight: 900;
    font-size: 3em;
    margin-top: 0;
}

.form2 {
    flex: 50%;
}

.form2-label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* 
.label-name {
    flex: 50%;
}

.label-last-name {
    flex: 50%;
} */

.form2-input {
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: #b4b4b430;
}

.form2-input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px #617A55;
}

.form2-send {
    width: 150px;
    font-size: 1em;
    background-color: #617A55;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
}

.form2-send:hover {
    background-color:  #779e64;
}

.form2-send:active {
    background-color: #779e64;
    outline:none;
    box-shadow: 0px 0px 3px 2px #617A55;
}

.footer {
    background-color: #617A55;
    padding: 70px;
}

.footer_container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 15px;
}

.footer_container_list {
    list-style: none;
    display: flex;
    gap: 15px;
    
}

.footer_icons_items {
    font-size: 1.2em;
    margin-right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: #617A55;
    border: 1px solid #617A55;
}

.footer_icons_link {
    text-decoration: none;
}

.footer_icons_items:hover{
    background: #617A55;
    border: 1px solid white;
    color: white;
}

.fa-heart{
    color: red;
    text-shadow: 0px 2px 1px black;
    font-size: 1.2em;
}

.end {
    font-weight: lighter;
    font-size: 1em;
}

@media (max-width:992px){
    .header {
        display: none;
    }
    .presentation {
        width: 90%;
        flex-direction: column;
        margin-top: 150px;
        gap: 15px;
    }

    .presentation_container-1 {
        text-align: center;
    }

    .presentation_container-img {
        width: 450px;
        height: 450px;
    }

    .skills {
        width: 80%;
    }

    .skills_card {
        width: 220px;
        height: 220px;
    }

    .quote {
        padding: 150px 0;
    }

    .projects {
        justify-content: center;
    }

    .projects, .quote_content, .Form  {
        width: 90%;
    }

    .projects_card {
        width: calc(100% / 3 - 50px);
        height: 100%;
    }

    .projects-text, .skills-text {
        width: 50%;
    }

    .Form  {
        padding: 20px;
    }

}

@media (max-width:768px){
    .skills_card {
        width: 270px;
        height: 250px;
    }

    .projects_card {
        width: calc(100% / 2 - 50px);
        height: 100%;
    }

    .projects-text, .skills-text {
        width: 70%;
    }

    .Form  {
        flex-direction: column;
        gap: 20px;
    }

    .contact_list {
        display: flex;
        flex-wrap: wrap;
    }

    .contact_list-item {
        width: 45%;
    }

}

@media (max-width:576px){
    .skills_card {
        width: 270px;
        height: 250px;
    }

    .projects_card {
        width: 80%;
        height: 100%;
    }

    .contact_list-item{
        width: 50%;
        padding: 0;
    }

    .contact_list-links{
        font-size: 0.8em;
    }

    .footer {
        padding: 50px 0;
    }

    .footer_container {
        gap: 35px;
    }

    .footer_container_list {
        display: none;
    }

    .end {
        margin: 0;
    }
}